*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.container{
    max-width: 930px;
    margin: 0 auto;
}

p{
    margin-bottom: 41px;
    font-weight: 500;
    font-size: 1.5rem;
    text-rendering: optimizeLegibility;
    color: #222;
}

h2{
    margin-bottom: 50px;
    font-size: 35px;
    color: #212121;
}

.header p:nth-child(1){
    color: #7C2AE8;
    margin-top: 20px;
}

.header p{
    margin: 0px 0;
}

.header h2{
    margin-top: 15px;
    margin-bottom: 20px;
}

.divider{
    width: 100%;
    height: 2px;
    background-color: #ccc;
}

@media screen and (max-width:900px){
    .container{
        padding: 0 2%;
    }

    img{
        max-width:258px
    }

    .header p{
        font-size: 15px;
    }

    .header h2{
        font-size: 18px;
    }

    h2{
        font-size: 32px;
    }

    p{
        font-size: 1.3rem;
    }
}
